doc/specs/wsman.xsd

<?xml version="1.0" ?>
<!--

Copyright Notice
(c) 2004, 2005 Advanced Micro Devices, Inc., BMC Software, Inc, Dell, Inc.,
    Intel Corporation, Microsoft Corporation, Sun Microsystems, Inc., and WBEM Solutions, Inc. All rights reserved.

Permission to copy and display WS-Management, which includes its associated WSDL and Schema files and any other associated metadata
(the "Specification"), in any medium without fee or royalty is hereby granted, provided that you include the following on
ALL copies of the Specification that you make:
1.	A link or URL to the Specification at one of the Co-Developers' websites.
2.	The copyright notice as shown in the Specification.

Microsoft, Intel, AMD, Dell, BMC, WBEM Solutions and Sun (collectively, the "Co-Developers") each agree upon request to grant
you a license, provided you agree to be bound by such license, under royalty-free and otherwise reasonable,
non-discriminatory terms and conditions to their respective patent claims that would necessarily be infringed
by an implementation of the Specification and solely to the extent necessary to comply with the Specification.

THE SPECIFICATION IS PROVIDED "AS IS," AND THE CO-DEVELOPERS MAKE NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR
IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE SPECIFICATION ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE
IMPLEMENTATION OF SUCH CONTENTS WILL NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS.
THE CO-DEVELOPERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES
ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE SPECIFICATIONS.

The name and trademarks of the Co-Developers may NOT be used in any manner, including advertising or
publicity pertaining to the Specifications or their contents without specific, written prior permission.
Title to copyright in the Specifications will at all times remain with the Co-Developers.
No other rights are granted by implication, estoppel or otherwise.

-->

<xs:schema
    targetNamespace="http://schemas.xmlsoap.org/ws/2005/06/management"
    xmlns:tns="http://schemas.xmlsoap.org/ws/2005/06/management"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:s="http://www.w3.org/2003/05/soap-envelope"
    xmlns:wxf="http://schemas.xmlsoap.org/ws/2004/09/transfer"
    elementFormDefault="qualified"
    >

   <xs:import namespace="http://schemas.xmlsoap.org/ws/2004/09/transfer" schemaLocation="transfer.xsd"/>

  <!-- Addressing -->

  <xs:complexType name="ResourceURIType">
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
  </xs:complexType>

  <xs:element name="ResourceURI" type="tns:ResourceURIType"/>


  <xs:complexType name="FragmentTransferType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="Dialect" type="xs:anyURI" use="optional"/>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
  </xs:complexType>

  <xs:element name="FragmentTransfer" type="tns:FragmentTransferType"/>

  <!-- Control headers -->

  <xs:simpleType name="EnvelopePolicyType">
    <xs:restriction base="xs:anyURI">
      <xs:enumeration value="CancelSubscription"/>
      <xs:enumeration value="Skip"/>
      <xs:enumeration value="Notify"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="MaxEnvelopeSizeType">
      <xs:simpleContent>
        <xs:extension base="xs:long">
          <xs:attribute name="Policy" type="tns:EnvelopePolicyType" use="optional"/>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
  </xs:complexType>

  <xs:element name="MaxEnvelopeSize" type="tns:MaxEnvelopeSizeType"/>

  <xs:element name="OperationTimeout" type="xs:duration"/>

  <xs:complexType name="LocaleType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
  </xs:complexType>

  <xs:element name="Locale" type="tns:LocaleType"/>

   <xs:complexType name="SelectorType">
     <xs:complexContent mixed="true">
       <xs:restriction base="xs:anyType">
          <xs:sequence>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="Name" type="xs:token" use="required"/>
          <xs:anyAttribute namespace="##other" processContents="lax" />
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

    <xs:complexType name="OptionType">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="Name" type="xs:token" use="required"/>
            <xs:attribute name="MustComply" type="xs:boolean" use="optional"/>
            <xs:attribute name="Type" type="xs:QName" use="optional"/>
            <xs:anyAttribute namespace="##other" processContents="lax" />
          </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

   <xs:complexType name="SelectorSetType">
      <xs:sequence>
         <xs:element name="Selector" type="tns:SelectorType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax" />

   </xs:complexType>

   <xs:complexType name="OptionSetType">
      <xs:sequence>
         <xs:element name="Option" type="tns:OptionType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>

   <xs:complexType name="XmlFragmentType">
     <xs:complexContent mixed="true">
       <xs:restriction base="xs:anyType">
         <xs:sequence>
           <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
         <xs:anyAttribute namespace="##other" processContents="skip" />
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:element name="XmlFragment" type="tns:XmlFragmentType" nillable="true"/>

   <xs:element name="SelectorSet" type="tns:SelectorSetType"/>
   <xs:element name="OptionSet" type="tns:OptionSetType"/>

   <!-- Rename -->

   <xs:complexType name="RenameType">
    <xs:sequence maxOccurs="unbounded">
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>

   <xs:element name="Rename" type="tns:RenameType"/>
   <xs:element name="RenamedTo" type="tns:RenameType"/>


   <!-- Chapter 5 - Enumeration -->

   <xs:simpleType name="EnumerationModeType">
       <xs:restriction base="xs:string">
         <xs:enumeration value="EnumerateEPR"/>
         <xs:enumeration value="EnumerateObjectAndEPR"/>
       </xs:restriction>
   </xs:simpleType>

   <xs:element name="EnumerationMode" type="tns:EnumerationModeType"/>

   <xs:complexType name="ItemType">
     <xs:complexContent mixed="true">
       <xs:restriction base="xs:anyType">
         <xs:sequence>
  	   <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
         <xs:anyAttribute namespace="##other" processContents="lax" />
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:element name="Item" type="tns:ItemType"/>

   <!-- Chapter 7 - Eventing -->

    <xs:complexType name="ConnectionRetryType">
      <xs:simpleContent>
        <xs:extension base="xs:duration">
          <xs:attribute name="Total" type="xs:int" use="optional"/>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

   <xs:element name="ConnectionRetry" type="tns:ConnectionRetryType"/>

   <xs:element name="Heartbeats" type="xs:duration"/>
   <xs:element name="SendBookmarks"/>

   <xs:complexType name="BookmarkType">
     <xs:complexContent mixed="true">
       <xs:restriction base="xs:anyType">
          <xs:sequence>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
          <xs:anyAttribute namespace="##other" processContents="lax" />
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:element name="Bookmark" type="tns:BookmarkType"/>


   <!-- Batched mode -->

   <xs:element name="MaxElements" type="xs:long"/>
   <xs:element name="MaxTime" type="xs:duration"/>

   <xs:element name="AckRequested"/>

   <xs:complexType name="DroppedEventsType">
      <xs:simpleContent>
        <xs:extension base="xs:int">
          <xs:attribute name="Action" type="xs:anyURI" use="optional"/>
          <xs:anyAttribute namespace="##other" processContents="lax" />
        </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:element name="DroppedEvents" type="tns:DroppedEventsType"/>

   <xs:complexType name="EventType">
     <xs:complexContent>
       <xs:restriction base="xs:anyType">
         <xs:sequence>
           <xs:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
         <xs:attribute name="Action" type="xs:anyURI" use="required"/>
         <xs:anyAttribute namespace="##other" processContents="lax" />
       </xs:restriction>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="EventBlockType">
      <xs:sequence>
         <xs:element name="Event" type="tns:EventType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>

  <xs:element name="Events" type="tns:EventBlockType"/>

   <!-- Authentication mode -->

   <xs:complexType name="AuthType">
      <xs:attribute name="Profile" type="xs:anyURI" use="optional"/>
      <xs:anyAttribute namespace="##other" processContents="lax" />
   </xs:complexType>

   <xs:element name="Auth" type="tns:AuthType"/>

   <!-- Fault helpers -->

   <xs:element name="URL" type="xs:anyURI"/>

   <xs:simpleType name="FaultCodeType">
    <xs:restriction base="xs:anyURI">
      <xs:enumeration value="wsman:AccessDenied"/>
      <xs:enumeration value="wsman:AmbiguousSelectors"/>
      <xs:enumeration value="wsman:AlreadyExists"/>
      <xs:enumeration value="wsman:Concurrency"/>
      <xs:enumeration value="wsman:EncodingLimit"/>
      <xs:enumeration value="wsman:DeliveryRefused"/>
      <xs:enumeration value="wsman:InternalError"/>
      <xs:enumeration value="wsman:InvalidHeader"/>
      <xs:enumeration value="wsman:InvalidBookmark"/>
      <xs:enumeration value="wsman:QuotaLimit"/>
      <xs:enumeration value="wsman:InvalidOptions"/>
      <xs:enumeration value="wsman:InvalidParameter"/>
      <xs:enumeration value="wsman:InvalidSelectors"/>
      <xs:enumeration value="wsman:InvalidTimeout"/>
      <xs:enumeration value="wsman:MinimumEnvelopeLimit"/>
      <xs:enumeration value="wsman:RenameFailure"/>
      <xs:enumeration value="wsman:ResourceOffline"/>
      <xs:enumeration value="wsman:SchemaValidationError"/>
      <xs:enumeration value="wsman:SystemOffline"/>
      <xs:enumeration value="wsman:TimedOut"/>
      <xs:enumeration value="wsman:UnsupportedFeature"/>
    </xs:restriction>
   </xs:simpleType>


   <xs:simpleType name="FaultDetailType">
    <xs:restriction base="xs:anyURI">
      <xs:enumeration value="wsman:faultDetail/Ack"/>
      <xs:enumeration value="wsman:faultDetail/ActionMismatch"/>
      <xs:enumeration value="wsman:faultDetail/AddressingMode"/>
      <xs:enumeration value="wsman:faultDetail/AlreadyExists"/>
      <xs:enumeration value="wsman:faultDetail/AmbiguousSelectors"/>
      <xs:enumeration value="wsman:faultDetail/AsynchronousRequest"/>
      <xs:enumeration value="wsman:faultDetail/AuthorizationMode"/>
      <xs:enumeration value="wsman:faultDetail/Bookmarks"/>
      <xs:enumeration value="wsman:faultDetail/CharacterSet"/>
      <xs:enumeration value="wsman:faultDetail/DeliveryRetries"/>
      <xs:enumeration value="wsman:faultDetail/DuplicateSelectors"/>
      <xs:enumeration value="wsman:faultDetail/EncodingType"/>
      <xs:enumeration value="wsman:faultDetail/EnumerationMode"/>
      <xs:enumeration value="wsman:faultDetail/ExpirationTime"/>
      <xs:enumeration value="wsman:faultDetail/Expired"/>
      <xs:enumeration value="wsman:faultDetail/FilteringRequired"/>
      <xs:enumeration value="wsman:faultDetail/FormatMismatch"/>
      <xs:enumeration value="wsman:faultDetail/FormatSecurityToken"/>
      <xs:enumeration value="wsman:faultDetail/FragmentLevelAccess"/>
      <xs:enumeration value="wsman:faultDetail/Heartbeats"/>
      <xs:enumeration value="wsman:faultDetail/InsecureAddress"/>
      <xs:enumeration value="wsman:faultDetail/InsufficientSelectors"/>
      <xs:enumeration value="wsman:faultDetail/Invalid"/>
      <xs:enumeration value="wsman:faultDetail/InvalidAddress"/>
      <xs:enumeration value="wsman:faultDetail/InvalidFormat"/>
      <xs:enumeration value="wsman:faultDetail/InvalidFragment"/>
      <xs:enumeration value="wsman:faultDetail/InvalidName"/>
      <xs:enumeration value="wsman:faultDetail/InvalidNamespace"/>
      <xs:enumeration value="wsman:faultDetail/InvalidResourceURI"/>
      <xs:enumeration value="wsman:faultDetail/InvalidSelectorAssignment"/>
      <xs:enumeration value="wsman:faultDetail/InvalidSystem" />
      <xs:enumeration value="wsman:faultDetail/InvalidTimeout" />
      <xs:enumeration value="wsman:faultDetail/InvalidValue"  />
      <xs:enumeration value="wsman:faultDetail/InvalidValues"/>
      <xs:enumeration value="wsman:faultDetail/Locale"/>
      <xs:enumeration value="wsman:faultDetail/MaxElements" />
      <xs:enumeration value="wsman:faultDetail/MaxEnvelopePolicy"/>
      <xs:enumeration value="wsman:faultDetail/MaxEnvelopeSize"/>
      <xs:enumeration value="wsman:faultDetail/MaxEnvelopeSizeExceeded"/>
      <xs:enumeration value="wsman:faultDetail/MaxTime"/>
      <xs:enumeration value="wsman:faultDetail/MinimumEnvelopeLimit"/>
      <xs:enumeration value="wsman:faultDetail/MissingValues" />
      <xs:enumeration value="wsman:faultDetail/NotSupported"/>
      <xs:enumeration value="wsman:faultDetail/OperationTimeout"/>
      <xs:enumeration value="wsman:faultDetail/OptionLimit"/>
      <xs:enumeration value="wsman:faultDetail/OptionSet"/>
      <xs:enumeration value="wsman:faultDetail/ReadOnly"/>
      <xs:enumeration value="wsman:faultDetail/ResourceOffline"/>
      <xs:enumeration value="wsman:faultDetail/Rename"/>
      <xs:enumeration value="wsman:faultDetail/SelectorLimit"/>
      <xs:enumeration value="wsman:faultDetail/ServiceEnvelopeLimit"/>
      <xs:enumeration value="wsman:faultDetail/TargetAlreadyExists"/>
      <xs:enumeration value="wsman:faultDetail/TypeMismatch"/>
      <xs:enumeration value="wsman:faultDetail/UnexpectedSelectors"/>
      <xs:enumeration value="wsman:faultDetail/UnreportableSuccess"/>
      <xs:enumeration value="wsman:faultDetail/UnusableAddress"/>
      <xs:enumeration value="wsman:faultDetail/URILimitExceeded"/>
      <xs:enumeration value="wsman:faultDetail/Whitespace"/>
    </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="FaultDetailOpenType" >
     <xs:union memberTypes="tns:FaultDetailType xs:anyURI" />
   </xs:simpleType>

   <xs:element name="FaultDetail" type="tns:FaultDetailOpenType"/>

   <xs:simpleType name="WSManURIListType">
    <xs:restriction base="xs:anyURI">
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Rename"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/RenameResponse"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/fault"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Heartbeat"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/bookmark/earliest"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/PushWithAck"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Events"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Event"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Pull"/>
     <xs:enumeration value="http://schemas.xmlsoap.org/ws/2005/06/management/Ack"/>
     <xs:enumeration value="wsman:secprofile/http/basic"/>
     <xs:enumeration value="wsman:secprofile/http/digest"/>
     <xs:enumeration value="wsman:secprofile/https/basic"/>
     <xs:enumeration value="wsman:secprofile/https/digest"/>
     <xs:enumeration value="wsman:secprofile/https/mutual"/>
     <xs:enumeration value="wsman:secprofile/http/spnego-kerberos"/>
     <xs:enumeration value="wsman:secprofile/https/spnego-kerberos"/>
     <xs:enumeration value="wsman:secprofile/https/mutual/basic"/>
     <xs:enumeration value="wsman:secprofile/https/mutual/digest"/>
     <xs:enumeration value="wsman:secprofile/https/mutual/spnego-kerberos"/>
    </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="WSManURIListOpenType" >
     <xs:union memberTypes="tns:WSManURIListType xs:anyURI" />
   </xs:simpleType>

</xs:schema>




